/********** Resets **********/

*, *:after, *:before {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/********** Base Styles **********/

html {
	font-size: 62.5%;
}

body {
	font-family: Lato, sans-serif;
	font-size: 1.6em;
}

h1, h2, h3 {
	padding: 1em 0 1em;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-size: 2.6em;
	font-weight: normal;
}

p {
	margin: 1em 0 1em;
}

a {
	font-size: 1.2em;
	text-decoration: none;
	padding: 10px 15px;
}

li {
	text-align: center;
	text-decoration: none;
	list-style: none;
}

.row{
	margin: 0 3%;
} 


/********** Header Styles ***********/

#header-wrap{
	background: rgba(2, 117, 216,0.7);
	position: fixed;
	width: 100%;
	padding: 20px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

/************fix header*********************/
#header-wrap.fix-header{
	padding: 10px;
}


/********** Navigation Styles **********/

#main-nav > ul.tool-ul{
    float: left;
    width: 70%;
}

#main-nav > ul.icon{
    float: right;
    width: 15%;
}

#main-nav > ul.tool-ul > li {
	float:left;
	width: 150px;
	display: inline-block;
	border-radius: 5px;
	-webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

#main-nav > ul.icon > li {
	float:left;
	width: 50px;
	display: inline-block;
	border-radius: 100%;
	-webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

#main-nav li:hover {
    background: #DAF5E0;
}

#main-nav li:hover .sub-nav > li {
	    display: block;
}

#main-nav > ul > li > a {
	color: #fff;
    display: inline-block;
}

.sub-nav{
  position: absolute;
  width: 150px;
}

.sub-nav > li {
  display: none;
  padding: 10px 15px;
  background: rgba(218, 217, 244,.7);
  color: rgba(255,255,255,.7);
}

#main-nav > ul > li:hover > ul.menu-1 li {
  opacity: 0;
  animation: menu1 300ms ease-in-out forwards;
}

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

#main-nav ul.sub-nav li:hover {
	background: #fff;
}

#main-nav > ul > li:hover a{
		color: #333;
}

/********** Main Content Styles **********/

.page-title-wrap{
	background: #DAF5E0;
}

#page-title{
	text-align: center;
	padding: 5%;
	color: #4c8158;
	font-family: Raleway;
    font-weight: 300;
} 
#site-title {
	font-size: 2.5em;
	color: #fff;
	line-height: 20%;
	vertical-align: center;
	text-align: center;
	font-family: 'Lato', sans-serif;
	float: left;
	padding: 5px;
}

#main-wrap{
	background: url(../images/landscap.jpg) no-repeat center center fixed;
	min-height: 100vh;
	padding-bottom: 5%;
	background-size: 100% 100%;
}

#content-home{
	padding-top: 10%;
}

#content {
	margin-top: 5%;
	padding: 2%;
	background: rgba(255,255,255,.6);
}

#developer {
	text-align: center;
}

#developer h1, #developer h2 {
	padding: 0;
}

#developer h1{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 6em;
	color: #fff;

}

#developer h2{
	font-family: Lato, sans-serif;
	font-size: 2.2em;
    color: #fff;
    margin-bottom: 30px;
}

#quote {
	background: rgba(47, 52, 48, .5);
	font-size: 1.6em;
	text-align: center;
	color: #fff;
	line-height: 1.618em;
	margin: 0 auto;
	padding: 20px;
	width:50%;
	font-family: 'Droid Serif', Serif;
}

/********** Footer Styles **********/
#footer-wrap {
	background: rgba(2, 117, 216,0.2);
	text-align: center;
	padding: 5px 0 5px;  
}