<!DOCTYPE html>
<html>
<head>
	<title>Button Web Component</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="button.css" media="screen" />
	<link href='https://fonts.googleapis.com/css?family=Lato|Raleway:300,400|Roboto:300,400' rel='stylesheet'>
	<script src="https://use.fontawesome.com/c3e06da910.js"></script>
</head>
<body>
	<div id="header-wrap">
		<header id="header" class="row clearfix">
			<nav id="main-nav" role="navigation">
				<ul>
					<li>
						<a href="/"> <i class="fa fa-angle-double-left" aria-hidden="true"></i>
							Go Back
						</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-wrap">
		<section class="page-title-wrap">
			<div class="row">
				<h1 id="page-title">Buttons</h1>
			</div>
		</section>
		<main id="content" class="row">

			<h3>A Basic Button</h3>
			<div class="button">Buy Now</div>

			<h3>A Button Element with the Button Class</h3>
			<button class="button">Send Mail</button>

			<h3>An Anchor with a Button Class</h3>
			<a href="javascript:void(0)" target="_blank" class="button">Search</a>

			<h3>Buttons of different sizes</h3>
			<div class="button button-sm">A Small Button</div>
			<div class="button button-md">A Medium Button</div>
			<div class="button button-lg">A Large Button</div>
		</main>
	</div>
	
	<div id="footer-wrap">
		<footer>
			<p>Copyright &copy; 2016</p>
		</footer>
	</div>
</body>
</html>