<html>
<head>
<title> NewsPaper </title>
<link rel="stylesheet" href="news.css" type="text/css"/>
</head>
	<body>
		<header>
		  	Newspaer Hearder
		</header>
		<div class="main">
			<div class="column width-edge" >
				<h3>Washington Tightens Fuel Economy Standards for Trucks</h3>
				<p>The Obama administration has raised fuel economy standards for trucks in the United States in a bid to cut greenhouse gas emissions and reduce dependence on fossil fuels between now and 2027.</p>
				<p>The new measures follow earlier efforts to improve energy efficiency for cars, aircraft, power plants and air conditioners.</p>
				<p>The Consumer Federation of America said the new efficiency standards will make it less expensive for trucks to deliver their cargo, making many goods cheaper for consumers.</p>
				<p>Leaders of the American Trucking Associations said they were "cautiously optimistic" that the new rules will achieve their goals without unduly disrupting operations.</p>
				<p>The ATA welcomed the time given to manufacturers and the industry to meet the new standards.</p>
			</div>
			<div  class="column width-center">
				<h3 class="text-align-center" style="font-style: algerian, Serif"> Float & Clear</h3>
				<p>That is my analogy of float. all the elements of a page like iron sheet which are attracted by a magnetic force that comes from the top left corner. Every time you add an element, it will be arranged as a line.</p>
				<p>'Float' as it's literal meaning, floats the elements. One can float the element left, right or nofloat.<br/><br/>
				<b>Syntax</b>:<br>
				float: left | right | none | initial | inherit; <br/></p>
				<hr/>
				<p>

				When there are any other float elements after the element, it tries to occupy the space around the float element.
				Clear will prevent it effect<br><br>
				<b>Syntax</b>: <br>
				clear: none | left | right | both | initial | inherit; <br/>
				</p>
				<hr/>
				<p>
				If an element has more height than it's parent, then <b>'overflow'</b> has to be added to the parent element to adapt its child elemnts.<br/><br/>
				<b>Syntax</b>:<br>
				overflow: auto;
				</p>
			</div>
			<div  class="column width-edge">
				<h3>Washington Tightens Fuel Economy Standards for Trucks</h3>
				<p>The Obama administration has raised fuel economy standards for trucks in the United States in a bid to cut greenhouse gas emissions and reduce dependence on fossil fuels between now and 2027.</p>
				<p>The new measures follow earlier efforts to improve energy efficiency for cars, aircraft, power plants and air conditioners.</p>
				<p>The Consumer Federation of America said the new efficiency standards will make it less expensive for trucks to deliver their cargo, making many goods cheaper for consumers.</p>
				<p>Leaders of the American Trucking Associations said they were "cautiously optimistic" that the new rules will achieve their goals without unduly disrupting operations.</p>
				<p>The ATA welcomed the time given to manufacturers and the industry to meet the new standards.</p>
			</div>
	 </div>
	 <div id="footer-wrap">
		<footer>
			<p class="footer-align">Copyright &copy; 2016</p>
		</footer>
	</div>
	</body>
</html>